nav {
	@include flexbox;
	@include flex(0 0 auto);

	font-size: 2rem;
	line-height: 2rem;
	padding: .75rem 0 .5rem 0;
	background: rgba(0,0,0,.1);
	cursor: pointer;
	a {
		@include flex(1);

		color: $white;
		text-decoration: none;
		text-align: center;
	}
}

.rdio-icon {
	height: 2rem;
	width: 2rem;
}