<template name="about">
	<section id="about">
	    <h1>Chausage</h1>
	    <h2>Powered by Rdio</h2>
	    <p>Through the power of Chausage, you can decide what music you, and those around you, listen to. Using premium quality technology, Chausage allows you, the user, to generate social playlists. Satisfaction guaranteed.</p>
	    <p>Rdio is the groundbreaking digital music service that is reinventing the way people discover, listen to, and share music. With on-demand access to over 25 million songs, Rdio connects people with music and makes it easy to search for and instantly play any song, album, artist, or playlist.</p>
	</section>
</template>