<template name="bottomNav">
	<nav>
        <a href="/home"><i class="fa fa-home home"></i></a>
        <a href="/search"><i class="fa fa-search search"></i></a>
        {{#unless currentUser}}
        	<a href="/profile"><i class="fa fa-user profile"></i></a>
       	{{/unless}}
       	{{#if currentUser}}
       		{{> logoutButton}}
       	{{/if}}
        <a href="/about"><img class="rdio-icon" src="images/rdio-icon.svg" /></a>
    </nav>
</template>

<template name="logoutButton">
	<i class="fa fa-sign-out" id="logoutButton"></i>
</template>