<template name="queueItem">
	<li>
	    <vote>
	        <div class="icon-button upvote"><i class="fa fa-arrow-circle-up"></i></div>
	        <div class="icon-button downvote"><i class="fa fa-arrow-circle-down"></i></div>
	    </vote>
	   <!--  <points votes="entry.votes"></points> -->
	    <figure class="track">
		    <img class="track-art" src="{{album.images.[0].url}}"/>
		    <figcaption class="track-meta">
		        <h3 class="track-name">{{name}}</h3>
		        <h5 class="track-extra">Artist: {{artists.[0].name}}</h5>
		        <h5 class="track-extra">Submitted by: Jon Spector</h5>
		    </figcaption>
		</figure>
	    <i class="info"></i>
	    <song-info data="entry.info"></song-info>
	</li>
</template>